/*
    General layout - global styles
*/
body {
    background: #424242;
    display: grid;
    grid-template-areas: "main sidebar"
                         "main sidebar";
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 2fr 5fr;
    height: 100vh;
}

#featured-background {
    grid-area: main;
}