#settingsHead {
    grid-area: main;
}

.card {
    width: 30rem;
    margin: 1.2rem;
    color: white;
    background-color: #696969;
    border-color: black;
}

.main-card {
    height: 7rem;
}

.setting-card {
    height: 4rem;
}

.signout-card {
    width: 8.5rem;
    height: 5rem;
}