#uploadBox {
    grid-area: main;
    max-height: 100vh;
}


#addon {
    background: darkgreen;
    color: white;
    position: fixed;
    left: 10px;
    bottom: 10px;
    z-index: 999;
}

#addon:active {
    transform: translateY(2px);
    opacity: 0.8;
}

#delete {
    background: darkgreen;
    color: white;
    position: fixed;
    left: 80px;
    bottom: 10px;
    z-index: 999;
}

#delete:active {
    transform: translateY(2px);
    opacity: 0.8;
}

.card {
    margin: 2rem auto;
    height: 8rem;
    color: white;
    background-color: #696969;
    border-color: black;
    height: 80vh;
    width: 77.5vw !important;
}

#imageListContainer {
    column-count: 3;
    column-gap: 5px;
    /* overflow: hidden; */
}

@media (min-width: 2500px) {
    #imageListContainer {
        column-count: 4;
        column-gap: 5px;
        /* overflow: hidden; */
    }
}

.loader {
    border: 0.5rem solid black; /* Light grey */
    border-top: 0.5rem solid darkgreen; /* Blue */
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    animation: spin 0.9s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  h1 {
    color: white;
    margin: 2rem;
}

.cardImageURL {
    display: block;
    padding: 20px;
    width: 25vw;
    transition: all .2s ease;
}
@media (min-width: 2500px) {
    .cardImageURL {
        display: block;
        padding: 20px;
        width: 18vw;
        transition: all .2s ease;
    }
}
